.boxs{
	width: 100%;
	background: #F5F6FA;
}
.box1{
	width: 100%;
	height: auto;
	background: #0078E6;
	overflow: hidden;

}
.box1 ul:after{
	content: "";
	display: block;
	clear: both;
}
.box1 ul{
	width: 30%;
	height: auto;
	float:left;
	padding: 0.14rem 0rem 0rem;
}
.box1 ul>li{
	width: 0.14rem;
	height: 0.14rem;
	border-radius: 50%;
	background: white;
	float:left;
	margin-right:0.02rem;
}
.box1 ul>li:nth-child(1){
	 margin-left: 0.21rem;
}
.box1 ul>li:nth-child(5){
	 margin-right: 0.14rem;
}
.box1 ul>li:nth-child(5) .boxnei{
	background: #0078E6;
	width: 0.1rem;
	height: 0.1rem;
	border-radius: 50%;
    margin:0px auto;
    margin-top: 0.02rem;
   
}
.box1 ul .box1-1{
	float:left;
	display: block;
  line-height: 0.14rem;
}
.box1 ul .box1-1>span{
	color: white;
	font-size: 0.2rem;
}
.box1 ul .iconfont{
	color:white;
	font-size:0.2rem;
	float:right;
	display: block;
	line-height: 0.14rem;
}
.box1 .box1-2{
	width: 40%;
	height: auto;
	float:left;
	padding: 0.08rem 0rem 0rem;
	display: block;
}	
.box1 .box1-2>span{
	font-size: 0.19rem;
	color: white;
	display: block;
	text-align: center;
}
.box1 ol{
	width: 30%;
	height: auto;
	float: right;
    margin-top: 0.08rem;
	box-sizing: border-box;
	padding-left:0.8rem;
}
.box1 ol .iconfont{
	font-size: 0.25rem;
	color:white;
	float: left;
display: block;
line-height: 0.2rem;
}
.box1 ol li{
	width:25%;
	float:left;
}
.box1 ol li>span{
	font-size: 0.2rem;
	color:white;
	display: block;
	line-height: 0.2rem;
}
.box1 ol li:nth-child(3) .iconfont{
	font-size: 0.4rem;
	float: right;
	width: 20%;
}
.uek{
	width: 100%;
	height: auto;
   background: #0078E6;
}
.uek ul{
	width: 100%;
}
.uek ul>li>img{
	width: 2.05rem;
	height: 0.7rem;
	display: block;
margin-left: 2.7rem;
}
.banner{
	width: 100%;
	height: 2.81rem;
}
.banner>img{
	width: 100%;
	height: 2.81rem;
	display: block;
}
/* ...................... */
a{
	text-decoration: none;
}
 
.item1{
	width: 100%;
	overflow: hidden;
}
.item1 a{
	display: block;
	color: black;

}
.item1 a>pre{
	padding-top: 0.1rem;
	font-size: 0.24rem;
		
}
/* ............... */
.item2{
	width: 90%;
	height: 0.86rem;
	margin: auto;
	border-radius: 0.05rem;
	margin-top: 0.1rem;
	border: 0.03rem solid blue;
	box-sizing: border-box;
	line-height: 0.86rem;
}
.item2-1{
	width: 33.33%;
	height: 0.8rem;
	background: blue;
	border-radius: 0.05rem;
	float: left;
	box-sizing: border-box;

}
.item2-2{
	width: 33.33%;
	height: 0.8rem;
	background: white;
	border-radius: 0.05rem;
	float: left;
    box-sizing: border-box;
}
.item2-3{
	width: 33.33%;
	height: 0.8rem;
	background: white;
	border-radius: 0.05rem;
	float: left;
	box-sizing: border-box;

}
.item2-1 a{
	display: block;
	text-align: center;
	line-height: 0.8rem;
	color: white;
	font-size: 0.26rem;

}

.item2-2 a{
	display: block;
	text-align: center;
	line-height: 0.8rem;
	color: black;
	font-size: 0.26rem;
}

.item2-3 a{
	display: block;
	text-align: center;
	line-height: 0.8rem;
	color: black;
	font-size: 0.26rem;
}
/* ................... */
.item3{
	width: 85%;
	margin: auto;
	overflow: hidden;
	margin-top: 0.1rem;
}
.item3-1{
	width: 2.3rem;
	float: left;
	box-sizing: border-box;
	
}
.item3-1 img{
	box-sizing: border-box;
	border-radius: 0.05rem;
}
.item3-2 {
	width: 2.68rem;
	float: left;
	margin-left: 0.26rem;
}
.item3-2 a:nth-child(1) p{
    font-size: 0.24rem;
    color: black;
}
.item3-2 p:nth-of-type(2){
	line-height: 0.2rem;
	color: blue;
}
.item3-2 a:nth-child(3){
    font-size: 0.24rem;
    color: #01B5FF;
}
.item3-2 a:nth-child(4){
	display: block;
    font-size: 0.24rem;
    color: black;
    margin-top: 0.3rem;
}
.item3-3{
	width: 1.0rem;
	float: right;
}
.item3-3 a{
	display: block;
	color: orange;
	float: right;
}
.item3-3 a p{
	font-size: 0.20rem;
}
/* ................... */
.item4{
	width: 90%;
	margin: auto;
	margin-top: 0.3rem;
}
.item4 img{
	width: 100%;
	margin-top: 0.3rem;
}
/* ........... */
.item5{
	width: 90%;
	margin: auto;
	margin-top: 0.2rem;
}
.item5 p{
	white-space: pre;
	text-align: center;
	line-height: 0.3rem;
}
.item6{
	width: 90%;
	background: white;
	margin-top: 0.3rem;
	margin: auto;
	padding-bottom: 0.3rem;
}
.item6 a{
	width: 90%;
	display: block;
	color: black;
}
.item6 a p{
	display: block;
	width: 100%;
    font-size: 0.24rem;
    font-weight: bold;
    line-height: 0.6rem;
}
.item6>p{
	display: block;
	width: 100%;
    font-size: 0.24rem;
    font-weight: bold;
    line-height: 0.3rem;
    color: #666666;
}
.item6 a:nth-of-type(2){
	width: 100%;
	margin-top: 0.2rem;
	text-align: center;
}
.item6 a:nth-of-type(4){
	width: 100%;
	margin-top: 0.2rem;
	text-align: center;
}
.item6 a:nth-of-type(6){
	width: 100%;
	margin-top: 0.2rem;
	text-align: center;
}
.item6 a:nth-of-type(8){
	width: 100%;
	margin-top: 0.2rem;
	text-align: center;
}
.item6 a:nth-of-type(10){
	width: 100%;
	margin-top: 0.2rem;
	text-align: center;
}
.item6 a:nth-of-type(12){
	width: 100%;
	margin-top: 0.2rem;
	text-align: center;

}
.item6 a span{
    color: orange;
    font-size: 0.24rem;

}
